@import "tailwindcss";
@import "@heroui/styles";

:root {
  /* Custom Colors */
  --accent: oklch(0.7 0.25 260);
  --success: oklch(0.65 0.15 155);
}

html {
  scroll-behavior: smooth;
}

body {
  @apply transition-colors duration-300;
}
.dark body {
  @apply bg-slate-950 text-white;
}